body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    background-image:
        radial-gradient(#000 35%, transparent 36%),
        radial-gradient(#000 35%, transparent 36%);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
    color: #ddd;
}

main {
    flex: 1;
}

header {
    background-color: #212529;
    box-sizing: border-box;
    z-index: 9998;
    height: auto;
    border-bottom: 1px solid
}

.header_title-logo {
    width: 60px;
    height: 40px;
    margin: 4px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

footer {
    border-top: 1px solid;
    height: 3rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.button {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.form_control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ddd;
    border-color: #111;
    background-color: #222;
    background-clip: padding-box;
    border: 1px solid #111;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form_control:focus {
    border: 1px solid #111;
    outline: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin: 0.5rem;
}

.col_auto {
    flex: 0 0 auto;
    /* width: auto; */
    padding: 1rem;
    margin: 0.5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.btn {
    /*影の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: transparent;
    /* border-radius: 25px; */
    border: solid 2px #2b61fa;
    outline: none;
    /*アニメーションの指定*/
    transition: all 0.2s ease;
}

.btn span {
    position: relative;
    /* z-index: 2; */
    display: block;
    padding: 10px 30px;
    background: #fff;
    /* border-radius: 25px; */
    color: #2b61fa;
    transition: all 0.3s ease;
}

/*押下をした後のボタンの形状*/
.btn:active {
    border-color: transparent;
    transform: translateY(0.25rem);
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal_bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content {
    background: #ddd;
    color: #000;
    left: 50%;
    padding: 40px;
    /* position: absolute; */
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30%;
    position: relative;
}

.js-modal-close{
    position: absolute;
    bottom: 10px;
}

@media screen and (min-width: 600px) {
    .modal_content {
        background: #ddd;
        color: #000;
        left: 50%;
        padding: 40px;
        /* position: absolute; */
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 30%;
        position: relative;
    }
}